.theme-loughborough-uni .shirt {
  color: #6c3082;
}
.theme-loughborough-uni .gkShirt {
  color: #1a7206;
}

/* Nottingham */
.theme-nottingham-uni .topBar {
  background-color: #005ea5;
  color: white;
}
