.kickOffDate h3 {
  font-weight: 800 !important;
  font-size: clamp(1.8rem, 3vw, 4rem) !important;
}
.fixtureCard {
  margin-bottom: 2rem !important;
}
.results h4,
.notPlayed h4 {
  font-weight: 500 !important;
  font-size: clamp(1.5rem, 2.5vw, 4rem) !important;
  padding: 1rem !important;
}
