.infoRow {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.infoRow h4 {
  margin-bottom: 1rem !important;
  font-size: clamp(1.5rem, 2.2vw, 4rem) !important;
  font-weight: 600 !important;
  padding: 1rem;
  padding-bottom: 0rem;
}
.checkBoxLine {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
.checkBoxLine h4 {
  font-size: clamp(1.3rem, 1.8vw, 4rem) !important;
  font-weight: 500 !important;
}
.checkBoxLine label {
  font-size: clamp(1.3rem, 1.8vw, 4rem) !important;
  font-weight: 500;
  font-family:
    Andale Mono,
    monospace !important;
}

.secondInfoRow {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* teamsheet stuff */
.resultsRow {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-collapse: collapse;
  padding: 1rem;
  margin-top: 2rem;
  border-top: lightgray 2px solid;
}
.resultsRow form {
  width: 90%;
  margin-left: 5%;
}
.teamsheetForm label {
  font-size: clamp(1rem, 2vw, 4rem) !important;
  font-weight: 600;
  padding-top: 1rem;
  font-family:
    Andale Mono,
    monospace !important;
}
.teamsheetForm .multiSelect {
  height: 2rem;
  text-align: center !important;
}
.formRow {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

/* match details stuff */
.statsRow {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-collapse: collapse;
  padding: 1rem;
  margin-top: 2rem;
  border-top: lightgray 2px solid;
}
.statsRow form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.statsRow h4 {
  font-size: clamp(1.5rem, 2.2vw, 4rem) !important;
  font-weight: 600 !important;
}

#goalsRow {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center !important;
}
#goalsRow label {
  width: auto;
  font-size: clamp(1.4rem, 2.3vw, 4rem) !important;
  font-family:
    Andale Mono,
    monospace !important;
  padding: 0rem !important;
}
#goalsRow input {
  width: 3rem;
  font-size: clamp(1rem, 1.3vw, 4rem) !important;
}

.matchDetailsForm label {
  font-size: clamp(1rem, 2vw, 4rem) !important;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  font-family:
    Andale Mono,
    monospace !important;
}

.teamsheetForm button,
.matchDetailsForm button {
  min-width: 40%;
  display: block;
  margin: 1.8rem auto 0;
  /* height: 3rem; */
  background-color: #00b4d8;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: clamp(1.2rem, 2vw, 4rem) !important;
  font-weight: 700;
  font-family:
    Andale Mono,
    monospace !important;
  transition: transform 0.5s;
  padding: 0.5rem;
}

.teamsheetForm button:hover,
.matchDetailsForm button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.teamsheetForm button:disabled,
.matchDetailsForm button:disabled {
  cursor: not-allowed;
}

@media (max-width: 860px) {
  .topRow {
    flex-direction: column; /* stack vertically */
    align-items: center; /* center horizontally */
    margin-left: 0;
    margin-right: 0;
  }
  .checkBoxLine {
    flex-direction: column;
    align-items: center;
  }
  #goalsRow {
    flex-direction: column;
    align-items: center;
  }
}
