.transferTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:
    Andale Mono,
    monospace !important;
}
.transferTag p {
  font-weight: 600 !important;
  font-size: clamp(0.8rem, 1.8vw, 2.2rem) !important;
  z-index: 2;
}

.topRowSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem !important;
}
.topRowSelect h4 {
  font-size: clamp(1.5rem, 2.5vw, 2.25em) !important;
  font-weight: 500 !important;
}
.budget {
  color: black;
}
.budget.negative {
  color: red;
  font-weight: 700 !important;
}
.transfer {
  color: black;
}
.transfer.negative {
  color: red;
  font-weight: 700 !important;
}

.topRowSelect button {
  border: none;
  background-color: white;
  transition: 0.3s ease;
}
.topRowSelect button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.minusTransferWarning {
  margin-top: 2rem;
}
.minusTransferWarning h4 {
  font-size: clamp(2rem, 2.8vw, 4rem) !important;
  font-weight: 700 !important;
  color: red;
}

.saveRow {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.saveRow button {
  min-width: 30%;
  max-width: 100%;
  display: block;
  margin: 1.8rem auto 0;
  height: 3rem;
  background-color: #00b4d8;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-family:
    Andale Mono,
    monospace !important;
  transition: transform 0.5s;
}
.saveRow h4 {
  font-size: clamp(1rem, 2vw, 2.2rem) !important;
  font-weight: 500 !important;
}
.saveRow button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.saveRow button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.gkRow,
.defRow,
.midRow,
.fwdRow {
  height: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem !important;
}
.shirtRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
@media (max-width: 768px) {
  .topRowSelect {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}
