.leagueTable {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}
.leagueTable thead {
  padding: 1rem;
  border-bottom: 2px solid #e0e0e0;
  font-size: clamp(1rem, 1.9vw, 4rem) !important;
  font-weight: lighter !important;
  text-align: center;
  border-top: none;
  font-family:
    Andale Mono,
    monospace !important;
}
.leagueTable td {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  font-size: clamp(0.8rem, 1.7vw, 3rem) !important;
  font-weight: lighter !important;
  text-align: center;
  font-family:
    Andale Mono,
    monospace !important;
}
