.countDown {
  padding: 0.5rem;
  /* background-color: lightgray; */
  /* border-radius: 10px; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.countDown h4 {
  font-size: clamp(2.5rem, 3vw, 4rem) !important;
  font-weight: 600 !important;
  margin: 0;
  padding: 0;
  text-align: center;
}
.countDown h5 {
  font-size: clamp(1.4rem, 2.3vw, 3rem) !important;
  font-weight: 400 !important;
  margin: 0;
  margin-top: 0.5rem !important;
  padding: 0;
  padding-bottom: 0rem !important;
  text-align: center;
  font-family:
    Andale Mono,
    monospace !important;
}
