.topRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 13% !important;
  margin: 2rem 0;
}
.teamRow {
  display: flex;
  width: 100%;
  gap: 3rem;
  justify-content: center;
}
.teamName {
  flex: 2;
  margin-top: 0.3rem;
}
.teamName h4 {
  margin: 0;
  font-size: clamp(2rem, 2.8vw, 4rem) !important;
}
.ptsShow {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20%;
}
.totalPoints h4 {
  font-weight: 600 !important;
  font-size: clamp(2rem, 2.8vw, 4rem) !important;
}
.gwPoints h5 {
  font-size: clamp(1.5rem, 2vw, 4rem) !important;
  font-weight: 300 !important;
  text-align: center;
  font-family:
    Andale Mono,
    monospace !important;
  padding-top: 0.3rem;
}
#minusDisplay {
  color: red !important;
}

.teamChoice {
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
  gap: 3rem;
  justify-content: center;
}
.teamChoice button {
  flex: 1;
  padding: 1rem 2rem;
  padding-bottom: 0rem;
  /* font-size: 2rem !important; */
  font-weight: 500;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}
.teamChoice h4 {
  font-size: clamp(1.8rem, 2.5vw, 4rem) !important;
  font-family:
    Andale Mono,
    monospace !important;
}
.teamChoice button:hover {
  transform: scale(1.2);
}
.teamChoice.selected {
  text-decoration: underline;
}

.secondRowInfo {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondRowInfo h4 {
  font-weight: 600 !important;
  font-size: clamp(1.5rem, 2.5vw, 4rem) !important;
}

.shirtRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* min-height: 20% !important; */
  margin-left: 10%;
  /* margin-top: 1rem !important; */
  margin-bottom: 1.5rem;
  gap: 1rem;
}
.shirtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  padding: 0rem !important;
  z-index: 2;
  /* border: black 1px solid; */
}
.shirtButton {
  z-index: 2;
  margin-bottom: 0% !important;
  padding-bottom: 0rem !important;
  /* border: black 1px solid; */
}
.homePageTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:
    Andale Mono,
    monospace !important;
  /* border: black 1px solid; */
}
.homePageTag p {
  margin-top: -0.5rem !important;
  /* margin: 0.3rem 1rem; */
  font-weight: 700 !important;
  font-size: clamp(0.8rem, 1.8vw, 2.2rem) !important;
  z-index: 2;
}

.subRow {
  margin-top: 1rem;
  padding: 0rem;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: black 2px solid !important;
  margin-bottom: 2rem;
}

.homePageOpts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}
.homePageOpts button {
  flex: 1;
  padding: 1rem 2rem;
  padding-bottom: 0rem;
  /* font-size: 2rem !important; */
  font-weight: 500;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}
.homePageOpts button:hover {
  transform: scale(1.1);
}
.homePageOpts h4 {
  font-size: clamp(1.5rem, 2vw, 4rem) !important;
  font-weight: 500 !important;
  margin-bottom: 3rem !important;
  color: black !important;
  text-decoration: none !important;
}
.homePageOpts.button:disabled {
  cursor: not-allowed !important;
  color: gray !important;
}

.gkRow,
.defRow,
.midRow,
.fwdRow {
  padding-top: 0rem !important;
  padding-bottom: 0rem;
}

@media (max-width: 768px) {
  .topRow {
    width: 100%;
    margin-left: 0% !important;
  }
  .teamRow {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0rem;
  }

  .teamChoice button:hover {
    transform: scale(1);
  }
  .teamChoice {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0rem;
  }
}
