h1 {
  text-align: center;
  font-size: 2.5rem !important;
  font-weight: 500 !important;
}
h2 {
  font-size: 1.7rem !important;
  font-weight: 500 !important;
  padding: 1rem;
  margin-left: 1rem;
}
h3 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  text-align: center;
}
h4 {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  text-align: center;
  font-family: Andale Mono, monospace !important;

  padding: 0rem 1rem 0rem 1rem;
  margin: 0rem !important;
}
h5 {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  margin: 0rem !important;
}

.row1Admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  /* border: black 2px solid; */
}
.buttonRows {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  gap: 3rem;
  justify-content: center;
}
.buttonRows button {
  flex: 1;
  padding: 1rem 2rem;
  font-size: 2rem !important;
  font-weight: 500;
  border: none;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}
.buttonRows a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: Andale Mono, monospace !important;
  font-size: 2rem !important;
  display: inline-block;
  transition: transform 0.5s;
  cursor: pointer;
  pointer-events: auto;
}
.buttonRows button:hover {
  transform: scale(1.1);
}

.statsRow {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* gap: 1rem; */
  margin: 1rem 2.5%;
  flex-wrap: wrap;
  border-top: lightgray 2px solid;
}

.statsBox {
  flex: 1 1 18%;
  min-width: 200px;
  /* border-top: lightgray 2px solid; */
  /* border-left: black 1px solid; */
  /* border-right: black 1px solid; */
  /* border: black 1px solid; */
  background-color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statsBox h4 {
  font-size: 1.7rem !important;
}
/* .statsBox:first-child {
  border-left: black 1px solid;
}
.statsBox:last-child {
  border-right: black 1px solid;
} */

.leagueTableAdmin {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-collapse: collapse;
  text-align: center;
  padding: 1rem;
  border-top: lightgray 2px solid;
}
.positionFilter {
  font-size: 1.5rem;
  border-radius: 8px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0;
}
.positionFilter:focus {
  border-color: black;
  border: 1px solid black;
  outline: none;
}
.playersTable {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}
.playersTable th {
  width: 25%;
  padding: 16px 12px;
  border-bottom: 2px solid #e0e0e0;
  font-size: 2rem !important;
  text-align: center;
  font-weight: 600;
  border-top: none;
}
.playersTable tbody tr {
  border-bottom: 2px solid #e0e0e0;
  height: 2.5rem;
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  font-family: Andale Mono, monospace !important;
}
.playersTable tbody tr:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 600px) {
  .buttonRows {
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .statsBox {
    flex: 1 1 100%;
  }
}
