.modalOverlapPlayer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.modalContainerPlayer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  /* max-height: 80vh; */
  overflow-y: auto;
}
.modalHeaderPlayer {
  width: 100%;
  background-color: #0096c7;
  color: white;
  position: sticky;
  top: 0;
}
.modalHeaderRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.modalBodyPlayer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: white;
  text-align: left;
}
.modalHeaderPlayer h2 {
  text-align: center;
  font-size: clamp(1.8rem, 2.5vw, 4rem) !important;
  font-weight: 500 !important;
  padding-bottom: 0rem;
}
.modalHeaderRow h3 {
  flex: 1;
  text-align: center !important;
  font-size: clamp(1.5rem, 2.2vw, 4rem) !important;
  font-weight: 300 !important;
}
.modalBodyPlayer .modalCol {
  width: 50%;
  border-right: 1px solid #ddd;
  padding-top: 0rem !important;
  padding: 0.5rem;
}
.modalBodyPlayer .modalCol:last-child {
  border-right: none;
}

.playerModalTotalTable,
.gwStatsTable {
  width: 100%;
  padding: 1rem;
}
.playerModalTotalTable td,
.gwStatsTable td {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #ddd;
  width: 33%;
  font-size: clamp(0.9rem, 1vw, 4rem) !important;
}

.modalRow {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gameweekFilter,
#temp {
  font-size: clamp(1.3rem, 2vw, 4rem) !important;
  font-weight: 400 !important;
  text-align: center;
  padding: 0rem 1rem 1rem 1rem;
  padding-bottom: 0%;
  border: none;
}
.gameweekFilter :active {
  outline: none;
}
.gameweekFilter :focus {
  outline: none;
}
.gameweekOpt {
  font-size: 1rem !important;
}
.gwStatsTable {
  margin-top: 0.4rem;
}
